body{
  height: 100%;
  width: 100%;
  /* text-align: center; */
  /* padding-bottom: 10px; */
}

.out{
  width: 100%;
  text-align: center;
}

.in{
  margin-top:5%;
  display: inline-block;
  padding:50px;
  border:5px solid black;
  border-radius: 10px;
}

.sign{
  width: 100%;
  text-align: center;
}

.hour{
  /* color:gray; */
  font-size:50px;
}
.minute{
  /* color:#999999; */
  font-size: 40px;
}
.second{
  /* color: #999999; */
  font-size: 40px;
}
.hangle{
  color:#b3b3b3;
  font-size: 30px;
  font-weight: bold;
}
.hangle-money{
  color:#262626;
  font-size: 40px;
  font-weight: bold;
}

/* #in{
  margin-top:100px;
  display: inline-block;
  padding:50px;
  border:5px solid black;
  border-radius: 10px;
} */

/* .orange{
  color:orange;
} */

/* 



     여기 아래부터 준선



 */


.onoffswitch {
  position: relative; width: 150px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 50px; padding: 0; line-height: 50px;
  font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 5px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 5px;
  background-color: #FF3399; color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 14px; margin: 18px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 96px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}
#bg{
position: absolute;
left: 300px;
}
#hb{
position: relative;
left: 70px;
bottom: 1550px;
border-color: #00ff0000;
background-color: #00ff0000;
}
#cl{
position: relative;
left: 250px;
bottom: 1650px;
}
#ps{
position: relative;
border-color: #00ff0000;
background-color: #00ff0000;
border-radius: 50px;
left: 730px;
bottom: 1760px;
width: -120px;
height: -120px;
}
#pss{
width: 100px;
height: 100px;
border-radius: 50px;
}
#pb{
  border-color: #00ff0000;
  background-color: #00ff0000;
  position: relative;
  left: 20px;
  bottom: 1650px;
}
#dl{
  font-size: 100px;
  position: relative;
  left: 280px;
  bottom: 1780px;
}
#nb{
  border-color: #00ff0000;
  background-color: #00ff0000;
  position: relative;
  left: 830px;
  bottom: 1890px;
}
#ph{
position: relative;
left: 130px;
bottom: 1850px;
}
#day{
position: relative;
left: 130px;
bottom: 1800px;
background-color: skyblue;
width: 670px;
height: 350px;
}
#fl{
  position: relative;
  font-size: 50px;
  left: 30px;
  bottom: 1680px;
}
#lw{
  position: relative;
  left: 30px;
  bottom: 1650px;
  background-color: skyblue;
  width: 840px;
  height: 900px;
}
#st{
  width: 450px;
  height: 100px;
  position: relative;
  left: 30px;
  bottom: 1620px;
}
#lsb{
  position: relative;
  border-color: #00ff0000;
  background-color: #00ff0000;
  left: 485px;
  bottom: 1730px;
}
#neb{
  position: relative;
  border-color: #00ff0000;
  background-color: #00ff0000;
  left: 685px;
  bottom: 1843px;

}
#sb{
position: relative;
border-color: #00ff0000;
background-color: #00ff0000;
left: 10px;
bottom: 1685px;

}
#tb{
position: relative;
border-color: #00ff0000;
background-color: #00ff0000;
left: 450px;
bottom: 2275px;

}
#cb{
position: relative;
border-color: #00ff0000;
background-color: #00ff0000;
left: 10px;
bottom: 2270px;

}
#cob{
position: relative;
border-color: #00ff0000;
background-color: #00ff0000;
left: 450px;
bottom: 2860px;
}
#emal{
position: absolute;
left: 675px;
top: 80px;
}
#emat{
position: absolute;
left: 730px;
top: 80px;
}
#idl{
position: absolute;
left: 698px;
top: 120px;

}
#idt{
position: absolute;
left: 730px;
top: 120px;
}
#rb{
border-color: #00ff0000;
background-color: #00ff0000;
}
#ps2{
position: relative;
left: 270px;
bottom: 1650px;
}
#pss2{
width: 400px;
height: 400px;
border-radius: 200px;
}
#empno{
position: relative;
left: 250px;
bottom: 1600px;
}
#lf{
font-size: 40px;
}
#nj{
position: relative;
left: 222px;
bottom: 1600px;
}
#nick{
position: relative;
left: 228px;
bottom: 1600px;
}
#nt{
position: relative;
left: 445px;
bottom: 1640px;
width: 300px;
height: 30px;
}
#pass{
position: relative;
left: 238px;
bottom: 1640px;
}
#pt{
position: relative;
left: 445px;
bottom: 1680px;
width: 300px;
height: 30px;
}
#cp{
position: relative;
left: 80px;
bottom: 1680px;
}
#cpt{
position: relative;
left: 445px;
bottom: 1720px;
width: 300px;
height: 30px;
}
#el{
position: relative;
left: 312px;
bottom: 1720px;
}
#et{
position: relative;
left: 445px;
bottom: 1760px;
width: 300px;
height: 30px;
}
#pn{
position: relative;
left: 282px;
bottom: 1760px;
}
#pnt{
position: relative;
left: 445px;
bottom: 1800px;
width: 300px;
height: 30px;
}
#sbb{
position: relative;
left: 50px;
bottom: 1750px;
border-color: #00ff0000;
background-color: #00ff0000;
}
#wl{
  position: relative;
  left: 30px;
  bottom: 1680px;
}
#wls{
  width: 200px;
  height: 50px;
  font-size: 30px;
}
#tt{
  width: 840px;
  height: 100px;
  font-size: 50px;
  position: relative;
  left: 30px;
  bottom: 1640px;
}
#wt{
  width: 840px;
  height: 600px;
  position: relative;
  left: 30px;
  bottom: 1600px;
}
#seb{
  border-color: #00ff0000;
  background-color: #00ff0000;
  position: relative;
  left: 20px;
  bottom: 1540px;
}
#gc{
  width: 850px;
}
a:link{
color: #FF8000;
}
a:visited{
color: #FF8000;
}

.dong{
border-radius: 20px;
}
#center{
  width:100%;
}

#title{
  /* position: absolute; */
  font-size: 100px;
  padding-left: 600px;
  padding-bottom: 500px;
}

#loginw{
position: absolute;
left: 400px;
top: 200px;
}
#idpw{
width: 250px;
height: 150px;
border: 2px solid white;
position: relative;
left: 30px;
top: 50px;
}

#idw{
width: 355px;
height: 70px;
background-color: #00ff0000;
border-color: #00ff0000;
position: relative;
bottom: 530px;
left: 55px;
text-align: center;
font-size: 50px;
}

#pdw{
width: 355px;
height: 70px;
background-color: #00ff0000;
border-color: #00ff0000;
position: relative;
bottom: 500px;
left: 55px;
text-align: center;
font-size:50px;
}

#lbw{
position: absolute;
left: 515px;
top: 100px;
}
#lb{
border-color: #00ff0000;
background-color: #00ff0000;
width: -100px;
height: -100px;
}
#checkb{
position: relative;
left: 70px;
bottom: 370px;
}
#su{
position: relative;
left: 50px;
bottom: 300px;
font-size: 30px;
}
#fp{
position: relative;
left: 400px;
bottom: 340px;
font-size: 30px;
}
#un{
position: relative;
left: 700px;
bottom: 1000px;
}
#unb{
width: 100px;
height: 100px;
}
#ba{
position: relative;
left: 50px;
bottom: 930px;
}
#bs{
width: 200px;
height: 100px;
font-size: 50px;
}
#bt{
position: relative;
left: 286px;
bottom: 1032px;
width: 570px;
height: 100px;
font-size: 50px;
}
#svb{
position: relative;
left: 50px;
bottom: 1000px;
border-color: #00ff0000;
background-color: #00ff0000;
}
#hl{
font-size: 200px;
color: blue;
position: relative;
left: 200px;
bottom: 2050px;

}
#ml{
font-size: 150px;
color: blue;
position: relative;
left: 60px;
bottom: 2080px;
}
#sl{
font-size: 150px;
color: red;
position: relative;
left: 370px;
bottom: 2280px;
}
#mol{
font-size: 150px;
color: green;
position: relative;
left: 200px;
bottom: 2200px;
}
#emnl{
position: absolute;
left: 650px;
}

#emnt{
position: absolute;
left: 730px;
}
#col{
position: absolute;
left: 650px;
top: 40px;
}
#cot{
position: absolute;
left: 730px;
top: 40px;
}
#emal{
position: absolute;
left: 675px;
top: 80px;
}
#emat{
position: absolute;
left: 730px;
top: 80px;
}
#idl{
position: absolute;
left: 698px;
top: 120px;

}
#idt{
position: absolute;
left: 730px;
top: 120px;
}
#pwl{
position: absolute;
left: 690px;
top: 160px;
}
#pwt{
position: absolute;
left: 730px;
top: 160px;
}
#rb1{
border-color: #00ff0000;
background-color: #00ff0000;
width: -100px;
height: -100px;
position: absolute;
left: 680px;
top: 200px;

}
#pb{
  border-color: #00ff0000;
  background-color: #00ff0000;
  position: relative;
  left: 0px;
  bottom: 1650px;
}
#dl{
  font-size: 100px;
  position: relative;
  left: 60px;
  bottom: 1780px;
}
#ndb{
  border-color: #00ff0000;
  background-color: #00ff0000;
  position: relative;
  left: 830px;
  bottom: 1890px;
}
#ofs1{
  position: relative;
  left: 600px;
  bottom: 1545px;
}
#ofs2{
  position: relative;
  left: 600px;
  bottom: 1485px;

}
#ofs3{
  position: relative;
  left: 600px;
  bottom: 1425px;
}
#ofs4{
  position: relative;
  left: 600px;
  bottom: 1365px;
}
#sab{
  position: relative;
  left: 50px;
  bottom: 1250px;
  border-color: #00ff0000;
  background-color: #00ff0000;
}